body {
  font-family: 'Arial', sans-serif;
  background: url("../assets/Password-Pixabay.webp");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;

}

.container {
  background-color: #3467d4e6;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  color: #fff;
}

h1 {
  color: #333;
}

div {
  margin-bottom: 15px;
}

label {
  /* display: block; */
  margin: 5px;
  font-weight: bold;
}

input {
  padding: 8px;
  /* width: 100%; */
  box-sizing: border-box;
  margin-bottom: 10px;
  background:#002fffa7;
  color: #fff;
}

button {
  background-color: #fb00ff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #a808e8;
}

input[type="text"] {
  width: calc(100% - 150px);
  padding: 8px;
  box-sizing: border-box;
  margin: 10px;
}

 input[type="checkbox"] {
  background-color: aqua;
}

.typeofpass {
  display: flex;
  justify-content: center;
}

.typeofgene {
  padding: 30px;
}